// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: grey;

  &__title {
    text-align: center;
  }
}

.group {
  &__title {
    text-align: center;
  }
}

.keys {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1rem;
  transition: 0.07s;
  border: 2px solid black;
  border-radius: 0.2rem;
  background: white;
  text-align: center;
}

.playing {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px red;
}

.sound {
  font-size: 1.2rem;
  color: red;
}
